.shepherd-element.shepherd-has-title[data-popper-placement^="bottom"]
  > .shepherd-arrow:before {
  background-color: #dadcdc;
}

.shepherd-has-title .shepherd-content .shepherd-header {
  background-color: #dadcdc;
  padding: 1em 2em;
}

/* .shepherd-arrow:before {
    background: #dadcdc;
} */

.shepherd-title {
  font-weight: 600;
  font-size: 0.9rem;
}

.shepherd-text {
  padding: 1em 2em;
  font-size: 0.87rem;
}

.shepherd-element {
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.2);
  max-width: 500px;
}

.displNone {
  display: none;
}

.disabled {
  opacity: 0.45;
  cursor: not-allowed;
  pointer-events: none;
}

.stage-dimmer {
  display: none;
}
